@import "./variables.scss";

body{
  font-family: $font-primary !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.active {
  color: white;
  font-weight: 400;
  border-left: 2px solid $primary;
  transition: all 0.5s;
  svg{
    color: $primary;
  }
}

:root {
  --antd-wave-shadow-color: #1DA57A; 
}

.ant-btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover{
    background-color: $primary !important;
    transition: 0.5s;
  }
}

p{
  margin: 0 !important;
}
