<div class="bg-white rounded-md">
  <div class="card">
    <div class="card-header">
      <%= react_component("admin/categories/HeaderComp") %>
    </div>
    <div class="card-body px-4">
      <%= react_component("admin/categories/CategoryList") %>
    </div>
  </div>
</div>  