// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Play:wght@400;700&display=swap');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');

$font-primary: "Hanken Grotesk", sans-serif;
$primary: #1D6393;
$secondary: #FB8230;
$yellow: #F2DE6C;